openapi: 3.1.0

info:
  title: SFZ Asset Management API
  description: |
    Interný systém Slovenského futbalového zväzu na evidenciu
    a vypožičiavanie majetku.

    ## Princípy
    - REST + JSON
    - OIDC autentifikácia cez Microsoft Entra ID
    - Cursor-based pagination
    - Problem Details (RFC 7807) pre chyby
    - Idempotency-Key pre kritické POST operácie

    Detaily viď [README](README.md).
  version: 1.0.0-draft
  contact:
    name: SFZ IT
    email: it@futbalsfz.sk
  license:
    name: MIT
    url: https://github.com/futbalsfz/Asset-Management/blob/main/LICENSE

servers:
  - url: https://api.assets.futbalsfz.sk/api/v1
    description: Produkcia
  - url: https://api.assets.staging.futbalsfz.sk/api/v1
    description: Staging
  - url: http://localhost:3000/api/v1
    description: Lokálny vývoj

tags:
  - name: Auth
    description: Autentifikácia a získanie informácií o aktuálnom používateľovi
  - name: Users
    description: Správa používateľov
  - name: Assets
    description: Karty majetku
  - name: Categories
    description: Číselník kategórií
  - name: Locations
    description: Číselník lokalít
  - name: LoanRequests
    description: Žiadosti o vypožičanie
  - name: Loans
    description: Aktívne a historické zápožičky
  - name: Protocols
    description: PDF protokoly a podpisy
  - name: Notifications
    description: In-app notifikácie
  - name: Reports
    description: Reporty a exporty
  - name: Health
    description: Health checks a metriky

security:
  - bearerAuth: []

paths:
  # ===== Health =====
  /health:
    get:
      tags: [Health]
      summary: Health check
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [ok] }
                  timestamp: { type: string, format: date-time }
                  version: { type: string }

  /ready:
    get:
      tags: [Health]
      summary: Readiness check (DB, dependencies)
      security: []
      responses:
        '200': { description: Ready }
        '503': { description: Not ready }

  # ===== Auth =====
  /auth/login:
    get:
      tags: [Auth]
      summary: Iniciovať OIDC login flow (redirect na Entra ID)
      security: []
      parameters:
        - in: query
          name: returnUrl
          schema: { type: string }
      responses:
        '302':
          description: Redirect na Entra ID

  /auth/callback:
    get:
      tags: [Auth]
      summary: OIDC callback z Entra ID
      security: []
      parameters:
        - in: query
          name: code
          required: true
          schema: { type: string }
        - in: query
          name: state
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Login úspešný, tokeny vrátené
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResult' }

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access tokenu
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        '200':
          description: Nový access token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResult' }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Odhlásenie (invalidácia refresh tokenu)
      responses:
        '204': { description: Odhlásený }

  /auth/me:
    get:
      tags: [Auth]
      summary: Informácie o aktuálnom prihlásenom používateľovi
      responses:
        '200':
          description: Aktuálny používateľ
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }

  # ===== Users =====
  /users:
    get:
      tags: [Users]
      summary: Zoznam používateľov
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Sort'
        - in: query
          name: search
          schema: { type: string }
        - in: query
          name: type
          schema: { type: string, enum: [internal, external] }
        - in: query
          name: role
          schema: { $ref: '#/components/schemas/UserRole' }
        - in: query
          name: status
          schema: { type: string, enum: [active, suspended, deactivated] }
      responses:
        '200':
          description: Zoznam používateľov
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserListResponse' }
    post:
      tags: [Users]
      summary: Vytvoriť externého používateľa
      description: |
        Interní používatelia (zamestnanci SFZ) vznikajú automaticky pri prvom
        prihlásení cez Entra ID SSO. Tento endpoint slúži len pre externých.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateExternalUserRequest' }
      responses:
        '201':
          description: Vytvorený
          headers:
            Location:
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '409': { $ref: '#/components/responses/Conflict' }

  /users/{userId}:
    parameters:
      - $ref: '#/components/parameters/UserId'
    get:
      tags: [Users]
      summary: Detail používateľa
      responses:
        '200':
          description: Používateľ
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Users]
      summary: Aktualizovať používateľa
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateUserRequest' }
      responses:
        '200':
          description: Aktualizovaný
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }

  /users/{userId}/loans:
    parameters:
      - $ref: '#/components/parameters/UserId'
    get:
      tags: [Users]
      summary: Zápožičky používateľa
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [active, returned, all], default: active }
      responses:
        '200':
          description: Zoznam zápožičiek
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoanListResponse' }

  # ===== Categories =====
  /categories:
    get:
      tags: [Categories]
      summary: Zoznam kategórií
      responses:
        '200':
          description: Zoznam
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Category' }
    post:
      tags: [Categories]
      summary: Vytvoriť kategóriu
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCategoryRequest' }
      responses:
        '201':
          description: Vytvorená
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Category' }

  /categories/{categoryId}:
    parameters:
      - in: path
        name: categoryId
        required: true
        schema: { type: string }
    get:
      tags: [Categories]
      summary: Detail kategórie
      responses:
        '200':
          description: Kategória
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Category' }
    patch:
      tags: [Categories]
      summary: Aktualizovať kategóriu
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateCategoryRequest' }
      responses:
        '200':
          description: Aktualizovaná
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Category' }

  # ===== Locations =====
  /locations:
    get:
      tags: [Locations]
      summary: Zoznam lokalít
      responses:
        '200':
          description: Zoznam
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Location' }
    post:
      tags: [Locations]
      summary: Vytvoriť lokalitu
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateLocationRequest' }
      responses:
        '201':
          description: Vytvorená
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Location' }

  /locations/{locationId}:
    parameters:
      - in: path
        name: locationId
        required: true
        schema: { type: string }
    get:
      tags: [Locations]
      responses:
        '200':
          description: Lokalita
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Location' }
    patch:
      tags: [Locations]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateLocationRequest' }
      responses:
        '200':
          description: Aktualizovaná
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Location' }

  # ===== Assets =====
  /assets:
    get:
      tags: [Assets]
      summary: Vyhľadávanie a zoznam majetku
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Sort'
        - in: query
          name: search
          description: Full-text v názve, popise, sériovom čísle, tagoch
          schema: { type: string }
        - in: query
          name: status
          schema: { $ref: '#/components/schemas/AssetStatus' }
        - in: query
          name: categoryId
          schema: { type: string }
        - in: query
          name: locationId
          schema: { type: string }
        - in: query
          name: assignedToUserId
          schema: { type: string }
        - in: query
          name: tags
          description: Čiarkou oddelený zoznam tagov (AND match)
          schema: { type: string }
        - in: query
          name: includeDisposed
          schema: { type: boolean, default: false }
      responses:
        '200':
          description: Zoznam
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetListResponse' }
    post:
      tags: [Assets]
      summary: Zaevidovať nový majetok
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateAssetRequest' }
      responses:
        '201':
          description: Vytvorený
          headers:
            Location: { schema: { type: string } }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }

  /assets/bulk-import:
    post:
      tags: [Assets]
      summary: Hromadný import majetku z CSV
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                dryRun:
                  type: boolean
                  description: Ak true, len validuje, neukladá
      responses:
        '200':
          description: Výsledok importu
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BulkImportResult' }

  /assets/lookup/qr/{qrCode}:
    parameters:
      - in: path
        name: qrCode
        required: true
        schema: { type: string }
    get:
      tags: [Assets]
      summary: Vyhľadať majetok podľa QR kódu
      responses:
        '200':
          description: Asset
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '404': { $ref: '#/components/responses/NotFound' }

  /assets/lookup/inventory/{inventoryNumber}:
    parameters:
      - in: path
        name: inventoryNumber
        required: true
        schema: { type: string }
    get:
      tags: [Assets]
      summary: Vyhľadať majetok podľa inventárneho čísla
      responses:
        '200':
          description: Asset
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '404': { $ref: '#/components/responses/NotFound' }

  /assets/{assetId}:
    parameters:
      - $ref: '#/components/parameters/AssetId'
    get:
      tags: [Assets]
      summary: Detail majetku
      responses:
        '200':
          description: Asset
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Assets]
      summary: Aktualizovať majetok
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateAssetRequest' }
      responses:
        '200':
          description: Aktualizovaný
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }

  /assets/{assetId}/dispose:
    parameters:
      - $ref: '#/components/parameters/AssetId'
    post:
      tags: [Assets]
      summary: Vyradiť majetok
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 5 }
      responses:
        '200':
          description: Vyradený
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }

  /assets/{assetId}/history:
    parameters:
      - $ref: '#/components/parameters/AssetId'
    get:
      tags: [Assets]
      summary: História pohybov položky
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: História
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetHistoryListResponse' }

  /assets/{assetId}/qr:
    parameters:
      - $ref: '#/components/parameters/AssetId'
    get:
      tags: [Assets]
      summary: Stiahnuť QR kód ako PNG/SVG
      parameters:
        - in: query
          name: format
          schema: { type: string, enum: [png, svg, pdf], default: png }
        - in: query
          name: size
          schema: { type: integer, default: 256 }
      responses:
        '200':
          description: QR kód
          content:
            image/png: { schema: { type: string, format: binary } }
            image/svg+xml: { schema: { type: string } }
            application/pdf: { schema: { type: string, format: binary } }

  /assets/{assetId}/photos:
    parameters:
      - $ref: '#/components/parameters/AssetId'
    post:
      tags: [Assets]
      summary: Pridať fotografiu k majetku
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
                isPrimary: { type: boolean, default: false }
      responses:
        '201':
          description: Pridaná
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Attachment' }

  # ===== Loan Requests =====
  /loan-requests:
    get:
      tags: [LoanRequests]
      summary: Zoznam žiadostí o vypožičanie
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - in: query
          name: status
          schema: { type: string, enum: [pending, approved, rejected, cancelled, fulfilled] }
        - in: query
          name: requesterId
          schema: { type: string }
      responses:
        '200':
          description: Zoznam
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoanRequestListResponse' }
    post:
      tags: [LoanRequests]
      summary: Vytvoriť žiadosť o vypožičanie
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateLoanRequestRequest' }
      responses:
        '201':
          description: Vytvorená
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoanRequest' }
        '409':
          description: Niektoré položky nie sú dostupné
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetails' }

  /loan-requests/{requestId}:
    parameters:
      - in: path
        name: requestId
        required: true
        schema: { type: string }
    get:
      tags: [LoanRequests]
      responses:
        '200':
          description: Detail
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoanRequest' }

  /loan-requests/{requestId}/approve:
    parameters:
      - in: path
        name: requestId
        required: true
        schema: { type: string }
    post:
      tags: [LoanRequests]
      summary: Schváliť žiadosť
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                comment: { type: string }
      responses:
        '200':
          description: Schválená
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoanRequest' }

  /loan-requests/{requestId}/reject:
    parameters:
      - in: path
        name: requestId
        required: true
        schema: { type: string }
    post:
      tags: [LoanRequests]
      summary: Zamietnuť žiadosť
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [comment]
              properties:
                comment: { type: string, minLength: 5 }
      responses:
        '200':
          description: Zamietnutá
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoanRequest' }

  /loan-requests/{requestId}/cancel:
    parameters:
      - in: path
        name: requestId
        required: true
        schema: { type: string }
    post:
      tags: [LoanRequests]
      summary: Zrušiť vlastnú žiadosť
      responses:
        '200':
          description: Zrušená
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoanRequest' }

  # ===== Loans =====
  /loans:
    get:
      tags: [Loans]
      summary: Zoznam zápožičiek
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - in: query
          name: status
          schema: { type: string, enum: [active, partially_returned, returned, overdue] }
        - in: query
          name: borrowerId
          schema: { type: string }
        - in: query
          name: overdue
          schema: { type: boolean }
      responses:
        '200':
          description: Zoznam
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoanListResponse' }
    post:
      tags: [Loans]
      summary: Vydať majetok (zo schválenej žiadosti alebo rýchle vypožičanie)
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateLoanRequest' }
      responses:
        '201':
          description: Vytvorená zápožička + PDF protokol
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoanWithProtocol' }

  /loans/{loanId}:
    parameters:
      - in: path
        name: loanId
        required: true
        schema: { type: string }
    get:
      tags: [Loans]
      responses:
        '200':
          description: Detail
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Loan' }

  /loans/{loanId}/extend:
    parameters:
      - in: path
        name: loanId
        required: true
        schema: { type: string }
    post:
      tags: [Loans]
      summary: Predĺžiť zápožičku
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newDueAt]
              properties:
                newDueAt: { type: string, format: date-time }
                reason: { type: string }
      responses:
        '200':
          description: Predĺžená
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Loan' }

  /loans/{loanId}/return:
    parameters:
      - in: path
        name: loanId
        required: true
        schema: { type: string }
    post:
      tags: [Loans]
      summary: Vrátiť majetok (celý alebo čiastočne)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReturnLoanRequest' }
      responses:
        '200':
          description: Vrátený + return protokol
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoanWithProtocol' }

  # ===== Protocols =====
  /protocols/{protocolId}:
    parameters:
      - in: path
        name: protocolId
        required: true
        schema: { type: string }
    get:
      tags: [Protocols]
      summary: Metadata protokolu
      responses:
        '200':
          description: Protokol
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoanProtocol' }

  /protocols/{protocolId}/pdf:
    parameters:
      - in: path
        name: protocolId
        required: true
        schema: { type: string }
    get:
      tags: [Protocols]
      summary: Stiahnuť PDF protokol
      responses:
        '200':
          description: PDF
          content:
            application/pdf:
              schema: { type: string, format: binary }

  /protocols/{protocolId}/sign:
    parameters:
      - in: path
        name: protocolId
        required: true
        schema: { type: string }
    post:
      tags: [Protocols]
      summary: Elektronicky podpísať protokol
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [method]
              properties:
                method: { type: string, enum: [click, drawn] }
                signatureImageBase64:
                  type: string
                  description: Base64 PNG pre method=drawn
      responses:
        '200':
          description: Podpísaný
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoanProtocol' }

  # ===== Notifications =====
  /notifications:
    get:
      tags: [Notifications]
      summary: In-app notifikácie aktuálneho používateľa
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - in: query
          name: unreadOnly
          schema: { type: boolean, default: false }
      responses:
        '200':
          description: Zoznam
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationListResponse' }

  /notifications/{notificationId}/read:
    parameters:
      - in: path
        name: notificationId
        required: true
        schema: { type: string }
    post:
      tags: [Notifications]
      summary: Označiť ako prečítané
      responses:
        '204': { description: OK }

  /notifications/read-all:
    post:
      tags: [Notifications]
      summary: Označiť všetky ako prečítané
      responses:
        '204': { description: OK }

  # ===== Reports =====
  /reports/assets/export:
    get:
      tags: [Reports]
      summary: Export majetku do CSV
      parameters:
        - in: query
          name: status
          schema: { $ref: '#/components/schemas/AssetStatus' }
        - in: query
          name: categoryId
          schema: { type: string }
        - in: query
          name: locationId
          schema: { type: string }
      responses:
        '200':
          description: CSV export
          content:
            text/csv:
              schema: { type: string }

  /reports/overdue-loans:
    get:
      tags: [Reports]
      summary: Zápožičky po splatnosti
      responses:
        '200':
          description: Zoznam
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoanListResponse' }

  /reports/asset-utilization:
    get:
      tags: [Reports]
      summary: Štatistika využitia majetku (fáza 2)
      parameters:
        - in: query
          name: from
          schema: { type: string, format: date }
        - in: query
          name: to
          schema: { type: string, format: date }
        - in: query
          name: categoryId
          schema: { type: string }
      responses:
        '200':
          description: Štatistiky
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UtilizationReport' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT získaný cez Entra ID OIDC flow.
        Pre externých používateľov možnosť Personal Access Tokens.

  parameters:
    Limit:
      in: query
      name: limit
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25

    Cursor:
      in: query
      name: cursor
      schema: { type: string }
      description: Cursor z predchádzajúcej stránky

    Sort:
      in: query
      name: sort
      schema: { type: string }
      description: 'Čiarkou oddelený zoznam: field:asc|desc'
      examples:
        byDate: { value: 'createdAt:desc' }
        byName: { value: 'name:asc' }

    UserId:
      in: path
      name: userId
      required: true
      schema: { type: string }

    AssetId:
      in: path
      name: assetId
      required: true
      schema: { type: string }

    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: false
      schema: { type: string, format: uuid }

  responses:
    NotFound:
      description: Entita neexistuje
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }

    Unauthorized:
      description: Chýbajúci alebo neplatný token
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }

    Forbidden:
      description: Nedostatok oprávnení
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }

    Conflict:
      description: Konflikt stavu
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetails' }

  schemas:
    # ===== Common =====
    ProblemDetails:
      type: object
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
        requestId: { type: string }
        errors:
          type: array
          items:
            type: object
            properties:
              field: { type: string }
              code: { type: string }
              message: { type: string }
      required: [title, status]

    Pagination:
      type: object
      properties:
        nextCursor: { type: string, nullable: true }
        hasMore: { type: boolean }
        limit: { type: integer }

    LocalizedString:
      type: object
      properties:
        sk: { type: string }
        en: { type: string }
      required: [sk]

    Money:
      type: object
      properties:
        amount: { type: number }
        currency: { type: string, default: EUR }
      required: [amount, currency]

    # ===== Auth =====
    AuthResult:
      type: object
      required: [accessToken, refreshToken, expiresIn, user]
      properties:
        accessToken: { type: string }
        refreshToken: { type: string }
        expiresIn: { type: integer, description: Sekundy do expirácie }
        tokenType: { type: string, default: Bearer }
        user: { $ref: '#/components/schemas/User' }

    # ===== User =====
    UserRole:
      type: string
      enum: [admin, asset_manager, team_manager, employee, external]

    UserStatus:
      type: string
      enum: [active, suspended, deactivated]

    UserType:
      type: string
      enum: [internal, external]

    User:
      type: object
      required: [id, email, displayName, type, roles, status]
      properties:
        id: { type: string }
        email: { type: string, format: email }
        displayName: { type: string }
        firstName: { type: string }
        lastName: { type: string }
        type: { $ref: '#/components/schemas/UserType' }
        roles:
          type: array
          items: { $ref: '#/components/schemas/UserRole' }
        status: { $ref: '#/components/schemas/UserStatus' }
        organization:
          type: object
          properties:
            department: { type: string, nullable: true }
            jobTitle: { type: string, nullable: true }
            managerId: { type: string, nullable: true }
        externalAccount:
          type: object
          nullable: true
          properties:
            organization: { type: string }
            contactPhone: { type: string, nullable: true }
            expiresAt: { type: string, format: date-time, nullable: true }
        preferences:
          type: object
          properties:
            locale: { type: string, enum: [sk, en] }
            notifications:
              type: object
              properties:
                email: { type: boolean }
                inApp: { type: boolean }
                digestFrequency: { type: string, enum: [off, daily, weekly] }
        lastLoginAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    UserListResponse:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/User' }
        pagination: { $ref: '#/components/schemas/Pagination' }

    CreateExternalUserRequest:
      type: object
      required: [email, firstName, lastName, organization]
      properties:
        email: { type: string, format: email }
        firstName: { type: string }
        lastName: { type: string }
        organization: { type: string }
        contactPhone: { type: string }
        expiresAt: { type: string, format: date-time }
        roles:
          type: array
          items: { $ref: '#/components/schemas/UserRole' }
          default: [external]

    UpdateUserRequest:
      type: object
      properties:
        firstName: { type: string }
        lastName: { type: string }
        roles:
          type: array
          items: { $ref: '#/components/schemas/UserRole' }
        status: { $ref: '#/components/schemas/UserStatus' }
        preferences:
          type: object

    # ===== Category =====
    Category:
      type: object
      required: [id, code, name, customFieldsSchema]
      properties:
        id: { type: string }
        code: { type: string }
        name: { $ref: '#/components/schemas/LocalizedString' }
        description: { type: string, nullable: true }
        parentCategoryId: { type: string, nullable: true }
        icon: { type: string, nullable: true }
        inventoryNumberPrefix: { type: string, nullable: true }
        customFieldsSchema:
          type: array
          items: { $ref: '#/components/schemas/CustomFieldDefinition' }
        active: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CustomFieldDefinition:
      type: object
      required: [fieldName, label, type]
      properties:
        fieldName: { type: string }
        label: { $ref: '#/components/schemas/LocalizedString' }
        type: { type: string, enum: [text, number, boolean, date, select] }
        required: { type: boolean, default: false }
        defaultValue: {}
        options:
          type: array
          items: { type: string }
        validation:
          type: object
          properties:
            min: { type: number }
            max: { type: number }
            pattern: { type: string }
        order: { type: integer }

    CreateCategoryRequest:
      type: object
      required: [code, name]
      properties:
        code: { type: string, pattern: '^[a-z0-9_]+$' }
        name: { $ref: '#/components/schemas/LocalizedString' }
        description: { type: string }
        parentCategoryId: { type: string }
        icon: { type: string }
        inventoryNumberPrefix: { type: string }
        customFieldsSchema:
          type: array
          items: { $ref: '#/components/schemas/CustomFieldDefinition' }

    UpdateCategoryRequest:
      type: object
      properties:
        name: { $ref: '#/components/schemas/LocalizedString' }
        description: { type: string }
        icon: { type: string }
        active: { type: boolean }
        customFieldsSchema:
          type: array
          items: { $ref: '#/components/schemas/CustomFieldDefinition' }

    # ===== Location =====
    Location:
      type: object
      required: [id, code, name, type, active]
      properties:
        id: { type: string }
        code: { type: string }
        name: { type: string }
        type: { type: string, enum: [office, warehouse, training_facility, external, other] }
        address:
          type: object
          nullable: true
          properties:
            street: { type: string, nullable: true }
            city: { type: string, nullable: true }
            postalCode: { type: string, nullable: true }
            country: { type: string }
        parentLocationId: { type: string, nullable: true }
        managerUserId: { type: string, nullable: true }
        active: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CreateLocationRequest:
      type: object
      required: [code, name, type]
      properties:
        code: { type: string }
        name: { type: string }
        type: { type: string, enum: [office, warehouse, training_facility, external, other] }
        address: { type: object }
        parentLocationId: { type: string }
        managerUserId: { type: string }

    UpdateLocationRequest:
      type: object
      properties:
        name: { type: string }
        address: { type: object }
        managerUserId: { type: string }
        active: { type: boolean }

    # ===== Asset =====
    AssetStatus:
      type: string
      enum: [available, reserved, borrowed, in_service, disposed, lost]

    Asset:
      type: object
      required: [id, inventoryNumber, name, categoryId, status, locationId]
      properties:
        id: { type: string }
        inventoryNumber: { type: string }
        externalInventoryNumber: { type: string, nullable: true }
        qrCode: { type: string }
        barcodeEan: { type: string, nullable: true }
        name: { type: string }
        description: { type: string, nullable: true }
        categoryId: { type: string }
        subcategoryId: { type: string, nullable: true }
        manufacturer: { type: string, nullable: true }
        model: { type: string, nullable: true }
        serialNumber: { type: string, nullable: true }
        status: { $ref: '#/components/schemas/AssetStatus' }
        locationId: { type: string }
        assignedToUserId: { type: string, nullable: true }
        responsibleUserId: { type: string, nullable: true }
        customFields:
          type: object
          additionalProperties: true
        acquisition:
          type: object
          properties:
            date: { type: string, format: date, nullable: true }
            price: { $ref: '#/components/schemas/Money' }
            supplier: { type: string, nullable: true }
            purchaseOrderNumber: { type: string, nullable: true }
            warrantyUntil: { type: string, format: date, nullable: true }
        tags:
          type: array
          items: { type: string }
        primaryPhotoId: { type: string, nullable: true }
        photoIds:
          type: array
          items: { type: string }
        documentIds:
          type: array
          items: { type: string }
        notes: { type: string, nullable: true }
        disposal:
          type: object
          nullable: true
          properties:
            date: { type: string, format: date-time }
            reason: { type: string }
            disposedByUserId: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    AssetListResponse:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Asset' }
        pagination: { $ref: '#/components/schemas/Pagination' }

    CreateAssetRequest:
      type: object
      required: [name, categoryId, locationId]
      properties:
        name: { type: string }
        description: { type: string }
        categoryId: { type: string }
        subcategoryId: { type: string }
        externalInventoryNumber: { type: string }
        manufacturer: { type: string }
        model: { type: string }
        serialNumber: { type: string }
        locationId: { type: string }
        responsibleUserId: { type: string }
        customFields: { type: object, additionalProperties: true }
        acquisition: { type: object }
        tags:
          type: array
          items: { type: string }
        notes: { type: string }

    UpdateAssetRequest:
      type: object
      properties:
        name: { type: string }
        description: { type: string }
        categoryId: { type: string }
        manufacturer: { type: string }
        model: { type: string }
        serialNumber: { type: string }
        locationId: { type: string }
        responsibleUserId: { type: string }
        customFields: { type: object, additionalProperties: true }
        acquisition: { type: object }
        tags:
          type: array
          items: { type: string }
        notes: { type: string }

    AssetHistoryEntry:
      type: object
      properties:
        id: { type: string }
        eventType: { type: string }
        changes:
          type: array
          items:
            type: object
            properties:
              field: { type: string }
              oldValue: {}
              newValue: {}
        triggeredByUserId: { type: string, nullable: true }
        relatedLoanId: { type: string, nullable: true }
        notes: { type: string, nullable: true }
        timestamp: { type: string, format: date-time }

    AssetHistoryListResponse:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/AssetHistoryEntry' }
        pagination: { $ref: '#/components/schemas/Pagination' }

    BulkImportResult:
      type: object
      properties:
        totalRows: { type: integer }
        successCount: { type: integer }
        errorCount: { type: integer }
        errors:
          type: array
          items:
            type: object
            properties:
              row: { type: integer }
              field: { type: string }
              message: { type: string }
        dryRun: { type: boolean }

    Attachment:
      type: object
      properties:
        id: { type: string }
        filename: { type: string }
        mimeType: { type: string }
        size: { type: integer }
        url: { type: string, description: Krátko platná pre-signed URL }
        uploadedAt: { type: string, format: date-time }

    # ===== Loan Request =====
    LoanRequest:
      type: object
      required: [id, requestNumber, requesterId, items, status]
      properties:
        id: { type: string }
        requestNumber: { type: string }
        requesterId: { type: string }
        onBehalfOfUserId: { type: string, nullable: true }
        items:
          type: array
          items:
            type: object
            properties:
              assetId: { type: string }
              quantity: { type: integer, default: 1 }
        requestedFrom: { type: string, format: date-time }
        requestedUntil: { type: string, format: date-time }
        purpose: { type: string }
        status:
          type: string
          enum: [pending, approved, rejected, cancelled, fulfilled]
        approval:
          type: object
          nullable: true
          properties:
            approverId: { type: string }
            decidedAt: { type: string, format: date-time }
            comment: { type: string, nullable: true }
        loanId: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    LoanRequestListResponse:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/LoanRequest' }
        pagination: { $ref: '#/components/schemas/Pagination' }

    CreateLoanRequestRequest:
      type: object
      required: [items, requestedFrom, requestedUntil, purpose]
      properties:
        onBehalfOfUserId: { type: string }
        items:
          type: array
          minItems: 1
          items:
            type: object
            required: [assetId]
            properties:
              assetId: { type: string }
              quantity: { type: integer, default: 1 }
        requestedFrom: { type: string, format: date-time }
        requestedUntil: { type: string, format: date-time }
        purpose: { type: string, minLength: 3 }

    # ===== Loan =====
    LoanItem:
      type: object
      properties:
        assetId: { type: string }
        inventoryNumber: { type: string }
        name: { type: string }
        returnedAt: { type: string, format: date-time, nullable: true }
        returnCondition:
          type: string
          enum: [ok, damaged, incomplete, lost]
          nullable: true
        returnNotes: { type: string, nullable: true }
        returnedByUserId: { type: string, nullable: true }

    Loan:
      type: object
      required: [id, loanNumber, borrowerId, items, status, borrowedAt, dueAt]
      properties:
        id: { type: string }
        loanNumber: { type: string }
        loanRequestId: { type: string, nullable: true }
        borrowerId: { type: string }
        issuedByUserId: { type: string }
        items:
          type: array
          items: { $ref: '#/components/schemas/LoanItem' }
        borrowedAt: { type: string, format: date-time }
        dueAt: { type: string, format: date-time }
        returnedAt: { type: string, format: date-time, nullable: true }
        status:
          type: string
          enum: [active, partially_returned, returned, overdue]
        pickupProtocolId: { type: string }
        returnProtocolIds:
          type: array
          items: { type: string }
        loanType:
          type: string
          enum: [standard, quick, bulk]
        notes: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    LoanListResponse:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Loan' }
        pagination: { $ref: '#/components/schemas/Pagination' }

    LoanWithProtocol:
      allOf:
        - $ref: '#/components/schemas/Loan'
        - type: object
          properties:
            protocol: { $ref: '#/components/schemas/LoanProtocol' }

    CreateLoanRequest:
      oneOf:
        - type: object
          title: From approved request
          required: [loanRequestId, assetIds]
          properties:
            loanRequestId: { type: string }
            assetIds:
              type: array
              items: { type: string }
              description: |
                Konkrétne asset IDs sa naskenujú/vyberú v okamihu vydania.
                Musia byť podmnožinou items v loan request-e.
            notes: { type: string }
        - type: object
          title: Quick loan (bez predošlej žiadosti)
          required: [borrowerId, assetIds, dueAt]
          properties:
            borrowerId: { type: string }
            assetIds:
              type: array
              minItems: 1
              items: { type: string }
            dueAt: { type: string, format: date-time }
            purpose: { type: string }
            loanType: { type: string, enum: [quick], default: quick }

    ReturnLoanRequest:
      type: object
      required: [items]
      properties:
        items:
          type: array
          minItems: 1
          items:
            type: object
            required: [assetId, condition]
            properties:
              assetId: { type: string }
              condition:
                type: string
                enum: [ok, damaged, incomplete, lost]
              notes: { type: string }
              damagePhotoAttachmentIds:
                type: array
                items: { type: string }

    # ===== Protocol =====
    LoanProtocol:
      type: object
      properties:
        id: { type: string }
        loanId: { type: string }
        type: { type: string, enum: [pickup, return, partial_return] }
        protocolNumber: { type: string }
        fileSize: { type: integer }
        status: { type: string, enum: [pending_signatures, completed] }
        signatures:
          type: array
          items:
            type: object
            properties:
              signerUserId: { type: string }
              signerRole: { type: string, enum: [borrower, issuer] }
              signedAt: { type: string, format: date-time }
              method: { type: string, enum: [click, drawn] }
        createdAt: { type: string, format: date-time }

    # ===== Notifications =====
    Notification:
      type: object
      properties:
        id: { type: string }
        type: { type: string }
        title: { $ref: '#/components/schemas/LocalizedString' }
        body: { $ref: '#/components/schemas/LocalizedString' }
        actionUrl: { type: string, nullable: true }
        priority: { type: string, enum: [low, normal, high, critical] }
        readAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }

    NotificationListResponse:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Notification' }
        pagination: { $ref: '#/components/schemas/Pagination' }
        unreadCount: { type: integer }

    # ===== Reports =====
    UtilizationReport:
      type: object
      properties:
        period:
          type: object
          properties:
            from: { type: string, format: date }
            to: { type: string, format: date }
        topUsed:
          type: array
          items:
            type: object
            properties:
              assetId: { type: string }
              inventoryNumber: { type: string }
              name: { type: string }
              loanCount: { type: integer }
              totalDays: { type: integer }
        unused:
          type: array
          items:
            type: object
            properties:
              assetId: { type: string }
              inventoryNumber: { type: string }
              name: { type: string }
              daysSinceLastLoan: { type: integer, nullable: true }
        byCategory:
          type: array
          items:
            type: object
            properties:
              categoryId: { type: string }
              loanCount: { type: integer }
              utilizationPercentage: { type: number }
